/*
* Wynn Drahorad Blog
* CSS
*
*/


/*
* Color Scheme:
* > site/header background: hsla(275, 24%, 50%, 1);
* > 
* 
* color palette:
* header background: hsla(275, 58%, 48%, 1);
* content background: hsla(275, 18%, 60%, 1);
* text: hsla(275, 5%, 20%, 1);
* h1 text: hsla(275, 18%, 25%, 1);
* h2 text: hsla(275, 12%, 25%, 1);
* h3,h4,h5 text: hsla(275, 6%, 25%, 1);
*
*
*
*/



@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Mandali);


body {
	font-size: 18px;
	font-family: Mandali, Lato, sans-serif;
	line-height: 1.5;
	background-color: hsla(268, 3%, 75%, 1);
}




.main {
	margin: 0 auto;
	padding-top: 15px;
}


.recents-wrap {
	max-width: 80%;	
}


.recents a {
	text-decoration: none;
}

.recent-post {
	padding: 50px;
	background-color: white;
	border-bottom: 1px solid gray;
	box-shadow: 2px 0px 5px 1px black;
	min-height: 600px;
}

.post-title {
	line-height: 1;
}

.recent-post-head {

}

.date {
	margin: 0;
}

.recent-post-head:after {
	content: "";
	display: block;
	clear: both;
}

.side-menu {
	width: 15%;
}

.aside-label {
	text-align: center;
}






/* text formatting */


h1 {
	font-size: 2.5em;
	color: hsla(275, 0%, 25%, 1);
}

h2 {
	margin: 0 0 25px 0;
	font-size: 2em;
	color: hsla(275, 0%, 25%, 1);
}

h3,
h4,
h5 {
	color: hsla(275, 0%, 25%, 1);
}


h3 {
	margin: 0 0 10px 0;
	font-size: 1.5em;

}

h4 {
	font-size: 1.2em;
	margin: 0 0 5px 0;
}

h1 a,
h2 a {
	color: inherit;
	text-decoration: none;
}	

p {
	margin-bottom: 10px;
}



.right {
	float: right;
}

.left {
	float: left;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.centered {
	text-align: center;
}

.header:after {
	content: "";
	display: block;
	clear: both;
}

#name {
	line-height: 1;
	padding: 10px;
	background: white;
}