{% include header.html %}
		<div class="main">
			<div class="recents-wrap right">

				<!-- begin listing posts -->
				{% for post in site.posts %}
				<article class="recent-post">
					<div class="recent-post-head">
						<h2 class="left post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="date right">{{ post.date | date: "%Y-%m-%d" }}</p>
					</div>
					{{ post.content }}
				</article>
				{% endfor %}

			</div>
			<!-- end recent posts -->
		</div>

		<aside class="side-menu left">
			<h4 class="aside-label">Recent Posts</h4>
			<ul>
				{% for post in site.posts %}
				<li class="menu-recent">
					<div>

						{% if post.url != page.url %}

						<a href="{{ post.url}}">{{ post.title }}</a>
						<span class="right">{{ post.date | date: "%m-%d" }}</span>
						{% else %}
						
						{{ post.title }}
						<span class="right">{{ post.date | date: "%m-%d" }}</span>
						{% endif %}


				</li>
				{% endfor %}
		</aside>
	</body>

</html>